.plan-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.plan-name{
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.sticker-list{
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}