.stat-setting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.stat-settings-header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-bottom: 0.5rem;
    margin-top: 0;
    padding : 0;
}

.label {
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 0.5rem;
}

select{
    font-family: var(--regular-font);
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    border: var(--border);
    background-color: var(--background-color);
    color: var(--text-color);
    margin-bottom: 1rem;
    transition: all 0.2s;
}

select:hover,
select:focus {
    border-color: var(--primary-color);
    background-color: var(--text-color);
    color: var(--background-color);
}

.stat-setting ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    gap: 0.5rem;
}

.selected-exercise{
    font-weight: 300;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 0.5rem;
    background-color: var(--background-color);
    transition: all 0.2s;
}

.selected-exercise:has(.remove-list-item:hover) {
    font-weight: bolder;
}

.remove-list-item{
    border-radius: 0.5rem;
}

.remove-list-item:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0 0.25rem 0 currentColor;
}

.remove-list-item:active {
    transform: translateY(0rem);
}