.plans-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: baseline;
    gap: 1rem;
    list-style: none;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.plans-header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 0.5rem;
    margin-top: 0;
    padding: 0;
}