@import url('./clash-grotesk.css');

:root {
  --light: #fffcf2ff;
  --tan: #ccc5b9ff;
  --brown: #403d39ff;
  --dark: #252422ff;
  --flame: #eb5e28ff;

  --text-color: var(--dark);
  --background-color: var(--light);

  --regular-font: 'ClashGrotesk-Regular', Arial, Helvetica, sans-serif;

  --border: 2px solid currentColor;
}

::selection {
  color: var(--background-color);
  background: var(--flame);
}

body{
  font-family: var(--regular-font);
  color: var(--text-color);
  background-color: var(--background-color);
}

body.light {
  --text-color: var(--dark);
  --background-color: var(--light);
  color-scheme: light;
}

body.dark {
  --text-color: var(--light);
  --background-color: var(--dark);
  color-scheme: dark;
}
