@import url('./css/clash-grotesk.css');

:root{
    --light: #fffcf2ff;
    --tan: #ccc5b9ff;
    --brown: #403d39ff;
    --dark: #252422ff;
    --flame: #eb5e28ff;

    --text-color: light-dark(var(--dark), var(--light));
    --background-color: light-dark(var(--light), var(--dark));
}

::selection {
  color: var(--light);
  background: var(--flame);
}

body{
    font-family: 'ClashGrotesk-Regular', Arial, Helvetica, sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
}
