.exercise-inputs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 3.5rem;
}

.exercise-inputs input {
    font-family: var(--regular-font);
    font-weight: bold;
    font-size: 1rem;
    width: 100%;
    padding: 0.5rem;
    border: var(--border);
    border-radius: 0.5rem;
    margin-inline: 1rem;
    color: var(--background-color);
    background-color: var(--text-color);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 768px) {
    .weight-reps{
        width: 100%;
    }

    .exercise-inputs{
        width: 100%;
        margin: 0;
    }
    .exercise-inputs input{
        width: 100%;
    }
}

.delete-exercise-btn{
    border-radius: 0.5rem;
    height: 2.5rem;
    width: 2.5rem;
}

.add-exercise-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    background-color: transparent;
    border: var(--border);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: all 0.2s;
}

.add-exercise-btn:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 0.5rem 0 currentColor;
}

.add-exercise-btn:active {
    transform: translateY(0);
    box-shadow: 0 0 0 currentColor;
}