.app-header {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin-inline: 25%;
    position: sticky;
    top: 0;
    border-radius: 100vw;
    border: 1px solid black;
}

.app-logo{
    padding: 0.5rem;
    background-color: lightgray;
    border-radius: 100vw;  
}

nav{
    background-color: lightgray;
    border-radius: 100vw;
}

.nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.theme-button{
    font-size: 1rem;
    background-color: lightgray;
    border: none;
    border-radius: 100vw;
    padding: 0.5rem 1rem;
}