footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 2.5rem;
}

footer div ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

footer p{
    margin: 0;
}

footer a{
    color: var(--flame);
}

footer a:visited{
    color: var(--flame);
}

@media screen and (max-width: 768px){
    footer{
        margin-top: 5rem;
    }
}