.weight-reps{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.weight-reps-display{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.weight-reps span{
    margin-inline: 1rem;
    width: 100%;
    text-align: center;
}