.weight-reps{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.weight-reps button{
    margin: 0 1rem;
}

@media (max-width: 768px) {
    .weight-reps{
        box-sizing: border-box;
        padding: 1rem;
    }

    .weight-reps .weight-reps-display{
        margin: 0;
    }

    .weight-reps .weight-reps-display{
        gap: 0.25rem;
    }

    .weight-reps button{
        margin: 0 0.25rem;
    }

    .weight-reps .delete-btn-1{
        margin-right: 0;
    }
    .edit-weight-reps{
        box-sizing: border-box;
        margin-right: 1rem;
    }
}

.weight-reps-display{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-inline: 1rem;
    gap: 1rem;
}

.weight-reps-display input{
    display: flex;
    flex-direction: row;
    font-family: var(--regular-font);
    font-weight: bold;
    font-size: 1rem;
    width: 100%;
    text-align: center;
    border: var(--border);
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: var(--text-color);
    color: var(--background-color);
}

.weight-reps-display span{
    font-size: 1rem;
    margin-inline: 1rem;
    width: 100%;
    text-align: center;
}